mjml
    //- Head
    mj-head
        mj-title Ysentis Mjml
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-font( name="Albert Sans" https="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap")/
        mj-attributes
            mj-text(font-family="Albert Sans, Arial, sans-serif" font-size="16px" font-weight="400" line-height="22px" color="#000000")
        mj-breakpoint(width='480px')
    //- Body
    mj-body(background-color="#f1f1f1")       
        //- content
        block content
        //- map
            block map
            include ../includes/_map
        //- recommended
            block recommended
            include ../includes/_recommended
        //- footer
            block footer
            include ../includes/_footer