extends templates/_layout
//- content
block content
    //- Header Text
    //- Body
    mj-section(padding="10px" background-color="#ffebd9")
        mj-column(padding="10px" width="62,461539%" vertical-align="middle")
            mj-image
            mj-text(padding-top="33px" padding-bottom="0" padding-left="0" padding-right="0" align="left") Bonjour,
            mj-text(padding-top="13px" padding-bottom="0" padding-left="0" padding-right="0" align="left") Nous comprenons combien une panne de connexion internet peut être frustrante et perturbante pour votre quotidien : 
            mj-text(padding-top="0" padding-bottom="13px" padding-left="0" padding-right="0" align="left") Perturbations des opérations, diminution de la productivité, risque de perte de données, stress, retards dans les projets …
            mj-button(href="#") en savoir plus
            mj-text(padding-top="33px" padding-bottom="0" padding-left="0" padding-right="0"  align="left") Ysentis vous propose une fibre sécurisée, fiable et rapide.
            mj-text(padding-top="0px" padding-bottom="13px" padding-left="0" padding-right="0" align="left") Notre service vous permet d'anticiper une coupe grâce à un système de secours, mais également d'assurer la continuité de votre activité et d'améliorer votre productivité.
            mj-text(padding-top="0" padding-bottom="13px" padding-left="0" padding-right="0" align="left") Avec Ysentis, vous ne serez jamais seul ! Notre support technique se tient toujours prêt à intervenir.
            mj-button(href="#") être recontacté
        mj-column(padding="10px" width="37,538461%" vertical-align="middle")
            mj-image(padding="0" fluid-on-mobile="true" width="244px" src="https://ext.lb-lg.fr/Ysentis/images4/img4.png" alt="")
            mj-image(padding="0" fluid-on-mobile="true" width="244px" src="" alt="")
            mj-image(padding="0" fluid-on-mobile="true" width="244px" src="" alt="")
    //-footer
    
    
