extends templates/_layout
//- content
block content
    //- Header Text
    //- Body
    mj-section
        mj-column
            mj-image
            mj-text(align="left") Bonjour,
            mj-text(align="left") Nous comprenons combien une panne de connexion internet peut être frustrante et perturbante pour votre quotidien : 
            mj-text(align="left") Perturbations des opérations, diminution de la productivité, risque de perte de données, stress, retards dans les projets …
            mj-button
            mj-text(align="left") Ysentis vous propose une fibre sécurisée, fiable et rapide.
            mj-text(align="left") Notre service vous permet d'anticiper une coupe grâce à un système de secours, mais également d'assurer la continuité de votre activité et d'améliorer votre productivité.
            mj-text(align="left") 
            mj-button
        mj-column
            mj-image
            mj-image
            mj-image
    
    
