extends templates/_layout
//- content
block content
    //- Header Text
    mj-section
        mj-column
            mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="12px" font-weight="400" line-height="17px" ) #[a(style="color:0000EE;" href="#") voir la version en ligne]&nbsp;|&nbsp;#[a(href="#" style="color:0000EE;") se désinscrire de la liste de diffusion]
    //- Body
    mj-wrapper(background-color="#ffebd9" background-url="https://ext.lb-lg.fr/Ysentis/images4/bg.png" background-repeat="no-repeat" background-size="650px")
        mj-section(padding="10px")
            mj-column(padding="10px" width="62,461539%" vertical-align="middle")
                mj-image(align="left" padding="0" width="119px" src="https://i.ibb.co/9qTYXms/logoMoi.png" alt="")
                mj-text(padding-top="33px" padding-bottom="0" padding-left="0" padding-right="0" align="left") Bonjour,
                mj-text(padding-top="13px" padding-bottom="0" padding-left="0" padding-right="0" align="left") Nous comprenons combien une panne de connexion internet peut être frustrante et perturbante pour votre quotidien : 
                mj-text(padding-top="0" padding-bottom="13px" padding-left="0" padding-right="0" align="left") Perturbations des opérations, diminution de la productivité, risque de perte de données, stress, retards dans les projets …
                mj-button(href="#") en savoir plus
                mj-text(padding-top="33px" padding-bottom="0" padding-left="0" padding-right="0"  align="left") Ysentis vous propose une fibre sécurisée, fiable et rapide.
                mj-text(padding-top="0px" padding-bottom="13px" padding-left="0" padding-right="0" align="left") Notre service vous permet d'anticiper une coupe grâce à un système de secours, mais également d'assurer la continuité de votre activité et d'améliorer votre productivité.
                mj-text(padding-top="0" padding-bottom="13px" padding-left="0" padding-right="0" align="left") Avec Ysentis, vous ne serez jamais seul ! Notre support technique se tient toujours prêt à intervenir.
                mj-button(href="#") être recontacté
            mj-column(padding="10px" width="37,538461%" vertical-align="middle")
                mj-image(padding="0" fluid-on-mobile="true" width="244px" src="https://i.ibb.co/jMSfzbr/img4Moi.png" alt="")
                mj-image(padding="10px 0" fluid-on-mobile="true" width="244px" src="https://i.ibb.co/09YKMKw/img5Moi.png" alt="")
                mj-image(padding="0" fluid-on-mobile="true" width="244px" src="https://i.ibb.co/2ygnqP1/img6Moi.png" alt="")
        //-footer
        mj-section(padding="10px")
            mj-column
                mj-text(padding="0" align="center" font-family="Albert Sans, Arial, sans-serif" font-size="11px" line-height="16px" font-weight="700" text-transform="uppercase") Ysentis - siret 42912707900029 - tél 01 41 83 00 85
                mj-text(padding="0" align="center" font-family="Albert Sans, Arial, sans-serif" font-size="11px" line-height="16px" font-weight="700" text-transform="uppercase") 100 Avenue Général Leclerc 93500 Pantin
    mj-section
        mj-column
            mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="12px" font-weight="400" line-height="17px") #[a(href="#" style="color:0000EE;") se désinscrire de la liste de diffusion]